body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fdebd0;
    position: relative;
}

h1 {
    color: #333;
    margin-top: 20px;
}

form {
    margin: 20px 0;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

canvas {
    border: 1px solid #000;
}

/* Crear manchas en el fondo */
body::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 10%;
    width: 200px;
    height: 200px;
    background-color: #f0b27a;
    border-radius: 50%;
    opacity: 0.5;
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 70%;
    width: 300px;
    height: 300px;
    background-color: #f0b27a;
    border-radius: 50%;
    opacity: 0.5;
    z-index: -1;
}
