body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #8b0000;
}

form {
    margin: 20px auto;
}

#posterPreview canvas {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border: 2px solid #000;
}
