body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Fondo blanco */
}

.container {
    text-align: center;
}

.poster {
    position: relative;
    display: inline-block;
    margin-bottom: 20px; /* Espacio debajo del cartel */
    filter: grayscale(100%); /* Aplica filtro en blanco y negro al contenedor */
}

#fondoCartel {
    width: 400px; /* Ajusta según el tamaño de tu cartel de fondo */
    height: auto;
}

#imagenUsuario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 250px;
    object-fit: cover;
    border: 2px solid #000; /* Opcional: Añade un borde negro para destacar */
}

.controls {
    margin-top: 20px;
}

input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
